.user-videos__box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user-videos__name {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
  white-space: nowrap;
}

.user-videos__img {
  display: block;
  margin-right: 20px;
}

.user-videos__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 250px;
}

.user-videos__button {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--right {
    transform: rotate(180deg);
  }
}

.user-videos__button-img {
  display: block;
}

.user-videos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 49px;
}

.user-videos__item {
  position: relative;
  width: 250px;
flex-shrink: 0;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.user-videos__item-link {
  position: relative;
  display: block;
  text-decoration: none;
  &:hover + .user-videos__watch-later{
    opacity: 1;
  }
}

.user-videos__item-img {
    display: block;
  margin-bottom: 10px;
  border-radius: 14px;
}

.user-videos__item-span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 47px;
  height: 24px;
  background: #000000;
  opacity: 0.3;
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;

&--dollie{
  top: 120px;
  right: 10px;
}
&--recommended{
top: 215px;
right: 10px;
}
&--food{
  top: 120px;
  right: 10px;
}
}

.user-videos__item-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-bottom: 4px;
}

.user-videos__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-videos__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.user-videos__watch-later{
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 3px;
  background-color: rgba(10, 10, 10, 0.7);
  border: none;
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  &:hover{
    opacity: 1;
  }
}
.user-videos__watch-later-img path{
fill: white;
opacity: 1;
}
.user-videos__recommended-title{
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
    color: #19202C;
}
.user-videos__recommended-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
margin-bottom: 50px;
}
.user-videos__recommended-item{
  width: 540px;
  flex-shrink: 0;
  position: relative;
  &:not(:last-child){
    margin-right: 40px;
  }
}
.user-videos__recommended-item-link{
  display: block;
  text-decoration: none;
  position: relative;
  &:hover + .user-videos__watch-later{
    opacity: 1;
  }
}
.user-videos__food-text{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
margin-left: 19px;
margin-right: 485px;
}
.user-videos__by{
  margin: 0;
  font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #C2C2C2;
}
.user-videos__food-button{
  padding: 10px 20px;
  border: none;
  background: #FF0000;
  border-radius: 20px;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
cursor: pointer;
white-space: nowrap;
}
